body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font: 100% / normal sans-serif;
  }
  
  .setinha{
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;
  }

  .setinha A {
    position: absolute;
    left: 0;
    font-size: 2.5em;
    cursor: pointer;
    color: var(--cor-setinha);

  }

  form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color:var(--cor-formulario);
    border: 4px solid hsl(0, 0%, 80%);
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .full-width.butons {
    display: flex;
    justify-content: center;
    
  }

  .full-width.butons button{
    margin-inline: 5px;
  }
  
  .large-label {
    display: inline-block;
    font: bold 1.5rem sans-serif;
  }

 
  .small-label {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
  }

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



input,
select,
textarea {
  border: 2px solid var(--cor-borda) ;
  background-color: var(--cor-fundoresposta);
  border-radius: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem 0.65rem;
}


input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: var(--cor-placeholder);
}


select {
  background: url("images/down-arrow.svg") no-repeat center right 0.75rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(213, 73%, 50%) 40%,
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background: url('images/check.svg') no-repeat center / 75% auto;
}

button {
    font: 1.25rem sans-serif;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
  }

  button[type="submit"] {
    background-color: hsl(213, 73%, 50%);
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: hsl(213, 73%, 40%);
  }

  button[type="reset"] {
    background-color: hsl(213, 73%, 50%);
    color: white;
    margin-left: 1rem;
  }

  button[type="reset"]:hover {
    background-color: hsl(213, 73%, 40%);
  }

:root{
    --cor-primaria:   #E4E9F7;;
    --cor-secundaria: #333  ;
    --cor-formulario: hsl(0, 0%, 100%);
    --cor-borda:#333;
    --cor-fundoresposta:hsl(0, 0%, 100%);
    --cor-setinha: rgb(24, 24, 24) ;
    --cor-placeholder: rgb(42, 152, 255);
}

.dark-mode{
    --cor-primaria: rgb(39, 39, 39);
    --cor-secundaria: rgb(240, 240, 240);
    --cor-formulario: rgb(90, 90, 90);
    --cor-borda:rgb(17, 17, 17);
    --cor-fundoresposta:hsl(0, 0%, 80%);
    --cor-setinha:white ;
    --cor-placeholder: rgb(70, 70, 70);
}

.assits{
    
    column-gap: 15px;
    display: flex;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font: 100% / normal sans-serif;
  }
  
  .setinha{
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;
  }

  .setinha A {
    position: absolute;
    left: 0;
    font-size: 2.5em;
    cursor: pointer;
    color: var(--cor-setinha);

  }

  form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color:var(--cor-formulario);
    border: 4px solid hsl(0, 0%, 80%);
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .full-width.butons {
    display: flex;
    justify-content: center;
    
  }

  .full-width.butons button{
    margin-inline: 5px;
  }
  
  .large-label {
    display: inline-block;
    font: bold 1.5rem sans-serif;
  }

 
  .small-label {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
  }

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  border: 2px solid var(--cor-borda) ;
  background-color: var(--cor-fundoresposta);
  border-radius: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(213, 90%, 70%);
}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem 0.65rem;
}


input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: var(--cor-placeholder);
}


select {
  background: url("images/down-arrow.svg") no-repeat center right 0.75rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
    hsl(213, 73%, 50%) 40%,
    transparent calc(40% + 1px)
  );
}

input[type="checkbox"]:checked {
  background: url('images/check.svg') no-repeat center / 75% auto;
}

button {
    font: 1.25rem sans-serif;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
  }

  button[type="submit"] {
    background-color: hsl(213, 73%, 50%);
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: hsl(213, 73%, 40%);
  }

  button[type="reset"] {
    background-color: hsl(213, 73%, 50%);
    color: white;
    margin-left: 1rem;
  }

  button[type="reset"]:hover {
    background-color: hsl(213, 73%, 40%);
  }


:root{
    --cor-primaria:   #E4E9F7;;
    --cor-secundaria: #333  ;
    --cor-formulario: hsl(0, 0%, 100%);
    --cor-borda:#333;
    --cor-fundoresposta:hsl(0, 0%, 100%);
    --cor-setinha: rgb(24, 24, 24) ;
    --cor-placeholder: rgb(42, 152, 255);
}

.dark-mode{
    --cor-primaria: rgb(39, 39, 39);
    --cor-secundaria: rgb(240, 240, 240);
    --cor-formulario: rgb(90, 90, 90);
    --cor-borda:rgb(17, 17, 17);
    --cor-fundoresposta:hsl(0, 0%, 80%);
    --cor-setinha:white ;
    --cor-placeholder: rgb(70, 70, 70);
}

.assits{
    
    column-gap: 15px;
    display: flex;
}
